/* CSS declarations go here */

#upload-csv-zone>.file-zone {
    border: 2px dashed #494e6b;
    position: relative;
    margin-bottom: 15px;
}

#upload-csv-zone>.file-zone>input[type="file"] {
    width: 100%;
    height: 200px;
    opacity: 0;
}

.dz-message {
    position: absolute;
    font-weight: 500;
    font-size: 25px;
    top: 35%;
    text-align: center;
    width: 100%;
    color: #98878f;
}

.dz-message>small {
    font-size: 60%;
    color: #bbb;
}

.progress {
    margin-bottom: 0px;
}

.fileprogress {
    margin-top: 15px;
}

.container {
    position: relative;
    margin-bottom: 20px;
}

#preview table td,
#preview table th {
    white-space: nowrap;
}


/*************  progress buttons *************/


/*https://tympanus.net/Development/ProgressButtonStyles/*/


/*@font-face {
font-weight: normal;
font-style: normal;
font-family: 'icomoon';
src: url('../fonts/icomoon/icomoon.eot');
src: url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'), url('../fonts/icomoon/icomoon.ttf') format('truetype'), url('../fonts/icomoon/icomoon.woff') format('woff'), url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
}*/


/* General styles for all types of buttons */

.progress-button {
    position: relative;
    display: inline-block;
    padding: 0 25px;
    outline: none;
    border: none;
    background: #1fb58f;
    color: #fff;
    /*text-transform: uppercase;*/
    letter-spacing: 1px;
    font-size: 1em;
    line-height: 3;
}

.progress-button[disabled],
.progress-button[disabled].state-loading {
    cursor: default;
}

.progress-button .content {
    position: relative;
    display: block;
}

.progress-button .content::before,
.progress-button .content::after {
    position: absolute;
    right: 20px;
    color: #0e7138;
    font-family: "icomoon";
    opacity: 0;
    -webkit-transition: opacity 0.3s 0.3s;
    transition: opacity 0.3s 0.3s;
}

.progress-button .content::before {
    content: "\e600";
    /* Checkmark for success */
}

.progress-button .content::after {
    content: "\e601";
    /* Cross for error */
}

.progress-button.state-success .content::before,
.progress-button.state-error .content::after {
    opacity: 1;
}

.notransition {
    -webkit-transition: none !important;
    transition: none !important;
}

.progress-button .progress {
    background: #148544;
}

.progress-button .progress-inner {
    position: absolute;
    left: 0;
    background: #0e7138;
}

.progress-button[data-horizontal] .progress-inner {
    top: 0;
    width: 0;
    height: 100%;
    -webkit-transition: width 0.3s, opacity 0.3s;
    transition: width 0.3s, opacity 0.3s;
}

.progress-button[data-vertical] .progress-inner {
    bottom: 0;
    width: 100%;
    height: 0;
    -webkit-transition: height 0.3s, opacity 0.3s;
    transition: height 0.3s, opacity 0.3s;
}


/* Necessary 3d styles for buttons with perspective */

.progress-button[data-perspective] {
    position: relative;
    display: inline-block;
    padding: 0;
    background: transparent;
    -webkit-perspective: 900px;
    perspective: 900px;
}

.progress-button[data-perspective] .content {
    padding: 0 60px;
    background: #1fb58f;
}

.progress-button[data-perspective] .progress-wrap {
    display: block;
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.progress-button[data-perspective] .content,
.progress-button[data-perspective] .progress {
    outline: 1px solid rgba(0, 0, 0, 0);
    /* Smoothen jagged edges in FF */
}


/* Individual styles */


/* Choose the effect(s) you want, delete the rest */


/* Fill horizontal */


/* ====================== */

.progress-button[data-style="fill"][data-horizontal] {
    overflow: hidden;
}

.progress-button[data-style="fill"][data-horizontal] .content {
    z-index: 10;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.progress-button[data-style="fill"][data-horizontal] .content::before,
.progress-button[data-style="fill"][data-horizontal] .content::after {
    top: 100%;
    right: auto;
    left: 50%;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.progress-button[data-style="fill"][data-horizontal].state-success .content,
.progress-button[data-style="fill"][data-horizontal].state-error .content {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}


/* Fill vertical */


/* ====================== */

.progress-button[data-style="fill"][data-vertical] {
    overflow: hidden;
}

.progress-button[data-style="fill"][data-vertical] .content {
    z-index: 10;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.progress-button[data-style="fill"][data-vertical] .content::before,
.progress-button[data-style="fill"][data-vertical] .content::after {
    top: 100%;
    right: auto;
    left: 50%;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.progress-button[data-style="fill"][data-vertical].state-success .content,
.progress-button[data-style="fill"][data-vertical].state-error .content {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}


/* Shrink horizontal */


/* ====================== */

.progress-button[data-style="shrink"] {
    /* common for horizontal and vertical */
    overflow: hidden;
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
}

.progress-button[data-style="shrink"][data-horizontal] .content {
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}

.progress-button[data-style="shrink"][data-horizontal] .content::before,
.progress-button[data-style="shrink"][data-horizontal] .content::after {
    top: 100%;
    right: auto;
    left: 50%;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.progress-button[data-style="shrink"][data-horizontal].state-loading {
    -webkit-transform: scaleY(0.3);
    transform: scaleY(0.3);
}

.progress-button[data-style="shrink"][data-horizontal].state-loading .content {
    opacity: 0;
}

.progress-button[data-style="shrink"][data-horizontal].state-success .content,
.progress-button[data-style="shrink"][data-horizontal].state-error .content {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}


/* Shrink vertical */


/* ====================== */

.progress-button[data-style="shrink"][data-vertical] .content {
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}

.progress-button[data-style="shrink"][data-vertical] .content::before,
.progress-button[data-style="shrink"][data-vertical] .content::after {
    top: 100%;
    right: auto;
    left: 50%;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.progress-button[data-style="shrink"][data-vertical].state-loading {
    -webkit-transform: scaleX(0.1);
    transform: scaleX(0.1);
}

.progress-button[data-style="shrink"][data-vertical].state-loading .content {
    opacity: 0;
}

.progress-button[data-style="shrink"][data-vertical].state-success .content,
.progress-button[data-style="shrink"][data-vertical].state-error .content {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}


/* Rotate bottom 3d */


/* ====================== */

.progress-button[data-style="rotate-angle-bottom"] .progress {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 20px;
    box-shadow: 0 -1px 0 #148544;
    /* fix the blurriness that causes a gap */
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

.progress-button[data-style="rotate-angle-bottom"].state-loading .progress-wrap {
    -webkit-transform: rotateX(45deg);
    transform: rotateX(45deg);
}


/* Rotate top 3d */


/* ====================== */

.progress-button[data-style="rotate-angle-top"] .progress {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 20px;
    box-shadow: 0 1px 0 #148544;
    /* fix the blurriness that causes a gap */
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.progress-button[data-style="rotate-angle-top"].state-loading .progress-wrap {
    -webkit-transform: rotateX(-45deg);
    transform: rotateX(-45deg);
}


/* Rotate left 3d */


/* ====================== */

.progress-button[data-style="rotate-angle-left"] .progress {
    position: absolute;
    top: 0;
    right: 100%;
    width: 20px;
    height: 100%;
    box-shadow: 1px 0 0 #148544;
    /* fix the blurriness that causes a gap */
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.progress-button[data-style="rotate-angle-left"].state-loading .progress-wrap {
    -webkit-transform: rotateY(45deg);
    transform: rotateY(45deg);
}


/* Rotate right 3d */


/* ====================== */

.progress-button[data-style="rotate-angle-right"] .progress {
    position: absolute;
    top: 0;
    left: 100%;
    width: 20px;
    height: 100%;
    box-shadow: -1px 0 0 #148544;
    /* fix the blurriness that causes a gap */
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}

.progress-button[data-style="rotate-angle-right"].state-loading .progress-wrap {
    -webkit-transform: rotateY(-45deg);
    transform: rotateY(-45deg);
}


/* Rotate side down 3d */


/* ====================== */

.progress-button[data-style="rotate-side-down"] .progress {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 20px;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.progress-button[data-style="rotate-side-down"].state-loading .progress-wrap {
    -webkit-transform: rotateX(90deg) translateZ(10px);
    transform: rotateX(90deg) translateZ(10px);
}


/* Rotate side up 3d */


/* ====================== */

.progress-button[data-style="rotate-side-up"] .progress {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 20px;
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.progress-button[data-style="rotate-side-up"].state-loading .progress-wrap {
    -webkit-transform: rotateX(-90deg) translateZ(10px);
    transform: rotateX(-90deg) translateZ(10px);
}


/* Rotate side left 3d */


/* ====================== */

.progress-button[data-style="rotate-side-left"] .progress-wrap {
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
}

.progress-button[data-style="rotate-side-left"] .progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
}

.progress-button[data-style="rotate-side-left"].state-loading .progress-wrap {
    -webkit-transform: translateX(50%) rotateY(90deg) translateZ(10px);
    transform: translateX(50%) rotateY(90deg) translateZ(10px);
}


/* Rotate side right 3d */


/* ====================== */

.progress-button[data-style="rotate-side-right"] .progress-wrap {
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.progress-button[data-style="rotate-side-right"] .progress {
    position: absolute;
    top: 0;
    left: 100%;
    width: 20px;
    height: 100%;
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
}

.progress-button[data-style="rotate-side-right"].state-loading .progress-wrap {
    -webkit-transform: translateX(-50%) rotateY(-90deg) translateZ(10px);
    transform: translateX(-50%) rotateY(-90deg) translateZ(10px);
}


/* Rotate back 3d */


/* ====================== */

.progress-button[data-style="rotate-back"] .progress-wrap {
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.progress-button[data-style="rotate-back"] .content {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.progress-button[data-style="rotate-back"] .progress {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.progress-button[data-style="rotate-back"].state-loading .progress-wrap {
    -webkit-transform: rotateX(180deg) scaleX(0.6) scaleY(0.3);
    transform: rotateX(180deg) scaleX(0.6) scaleY(0.3);
}


/* flip open 3d */


/* ====================== */

.progress-button[data-style="flip-open"] .content {
    z-index: 10;
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
}

.progress-button[data-style="flip-open"] .progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.progress-button[data-style="flip-open"].state-loading .content {
    -webkit-transform: rotateX(45deg);
    transform: rotateX(45deg);
}


/* slide down */


/* ====================== */

.progress-button[data-style="slide-down"] {
    padding: 0;
    overflow: visible;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.progress-button[data-style="slide-down"] .content {
    z-index: 10;
    padding: 0 60px;
    background: #1fb58f;
}

.progress-button[data-style="slide-down"] .progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
}

.progress-button[data-style="slide-down"].state-loading .progress {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
}


/* move-up */


/* ====================== */

.progress-button[data-style="move-up"] {
    padding: 0;
    overflow: visible;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.progress-button[data-style="move-up"] .content {
    z-index: 10;
    padding: 0 60px;
    background: #1fb58f;
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
}

.progress-button[data-style="move-up"] .progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.progress-button[data-style="move-up"].state-loading .content {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}


/* top-line */


/* ====================== */

.progress-button[data-style="top-line"] .progress-inner {
    height: 5px;
}

.progress-button[data-style="top-line"] .content::before,
.progress-button[data-style="top-line"] .content::after {
    right: auto;
    left: 100%;
    margin-left: 25px;
}


/* lateral-lines */


/* ====================== */

.progress-button[data-style="lateral-lines"] .progress-inner {
    width: 100%;
    border-right: 3px solid #0e7138;
    border-left: 3px solid #0e7138;
    background: transparent;
}

.progress-button[data-style="lateral-lines"] .content::before,
.progress-button[data-style="lateral-lines"] .content::after {
    right: auto;
    left: 100%;
    margin-left: 25px;
}

.progress-button.inProgress {
    pointer-events: none;
}

.progress-button.progress-button-small {
    line-height: 2.3;
}


/*****************end progress button ***********************/


/*****************  nav-tabs-vertical **********************/

.product-file-upload-tab-block>ul.nav-tabs-vertical {
    width: 225px;
    position: absolute;
}

.product-file-upload-tab-block>.tab-content {
    margin-left: 250px;
}

.nav-tabs-vertical>li {
    float: none;
}

.nav-tabs-vertical>li>a {
    border: 1px solid #ddd !important;
    border-radius: 0px;
    padding-left: 40px;
    color: #494e6b;
}

.nav-tabs-vertical>li.active>a {
    background: #494e6b;
    color: #fff;
}

.nav-tabs-vertical>li.active>a:hover,
.nav-tabs-vertical>li.active>a:focus,
.nav-tabs-vertical>li.active>a:active,
.nav-tabs-vertical>li.active>a:visited {
    background: #494e6b;
    color: #fff;
}

.nav-tabs-vertical>li.done>a {
    background: #1fb58f;
    color: #fff;
}

.nav-tabs-vertical>li.active>a::after {
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -13px;
    border-left: 0;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 10px solid #494e6b;
}

.nav-tabs-vertical>li>a>i.fa-check-circle-o {
    position: absolute;
    font-size: 22px;
    top: 9px;
    left: 10px;
}

.nav-tabs-vertical>li:not(.done)>a>i.fa-check-circle-o {
    display: none;
}

.nav-tabs-vertical>li.done>a>i.fa-check-circle-o {
    display: block;
}


/*****************  end-tabs-vertical **********************/


/*****************  login button *********************/

#login-buttons #login-name-link {
    color: #fff;
    text-decoration: none;
    padding: 15px 15px;
    line-height: 20px;
    position: relative;
    display: block;
}

#login-buttons #login-dropdown-list {
    right: 0px;
    left: inherit;
    top: 65px;
    border-radius: 0px;
}


/***************** End : login button *********************/


/***************** navbar *********************/

.navbar {
    background: #192231;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background: #494e68;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0px;
    }
}


/***************** End : navbar *********************/


/****************  spinner css ***********************/

.sk-wave {
    margin: 40px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.sk-wave .sk-rect {
    background-color: #192231;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
    animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
}

.sk-wave .sk-rect1 {
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
}

.sk-wave .sk-rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.sk-wave .sk-rect3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.sk-wave .sk-rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.sk-wave .sk-rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-waveStretchDelay {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }
    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@keyframes sk-waveStretchDelay {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }
    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}


/*********************** end spinner ****************/

.table>thead>tr>th {
    background: #192231;
    color: #fff;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    line-height: 1;
}

#mapping .spinner {
    margin: 15px 0px 15px 15px;
    display: none;
}

#mapping .progress-button {
    margin-top: 20px;
}

#mapping .view-mapping {
    height: 275px;
    overflow-y: auto;
    width: 100%;
}


/*****************************   step css ****************************/

.step-progress .progress {
    list-style: none;
    margin: 0;
    padding: 0;
    display: table;
    width: 100%;
    color: #849397;
    background: #fff;
    box-shadow: none;
}

.step-progress .progress>li {
    position: relative;
    display: table-cell;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.step-progress .progress>li:before {
    content: attr(data-step);
    display: block;
    margin: 0 auto;
    background: #DFE3E4;
    width: 3em;
    height: 3em;
    text-align: center;
    margin-bottom: 0.25em;
    line-height: 3em;
    border-radius: 100%;
    position: relative;
    z-index: 1000;
}

.step-progress .progress>li:after {
    content: '';
    position: absolute;
    display: block;
    background: #DFE3E4;
    width: 100%;
    height: 0.5em;
    top: 1.25em;
    left: 38%;
    margin-left: 1.5em\9;
}

.step-progress .progress>li:first-child:after {
    content: '';
    position: absolute;
    display: block;
    background: #DFE3E4;
    width: 100%;
    height: 0.5em;
    top: 1.25em;
    left: 52%;
    margin-left: 1.5em\9;
}

.step-progress .progress>li:last-child:after {
    display: none;
}

.step-progress .progress>li.is-complete {
    color: #1fb58f;
}

.step-progress .progress>li.is-complete:before,
.step-progress .progress>li.is-complete:after {
    color: #FFF;
    background: #1fb58f;
}

.step-progress .progress>li.is-active {
    color: #494e6b;
}

.step-progress .progress>li.is-active:before {
    color: #FFF;
    background: #494e6b;
}

.step-progress .product-tab-block {
    position: relative;
    margin: 30px 0;
    overflow: auto;
}

.step-progress .product-tab-block .nav-tabs {
    position: absolute;
    top: 0;
    left: 15px;
    width: 220px;
    border: 0;
}

.step-progress .product-tab-block .nav-tabs li {
    float: none;
    margin-bottom: 2px;
}

.step-progress .product-tab-block .nav-tabs li a {
    border: 0;
    background: #f9f9f9;
    border-radius: 5px 0 0 5px;
    font-size: 14px;
    color: #888;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    position: relative;
    overflow: hidden;
}

.step-progress .product-tab-block .nav-tabs li.active a,
.step-progress .product-tab-block .nav-tabs li a:hover {
    border: 0;
    background: #42a5f5;
    color: #fff;
}

.step-progress .product-tab-block .nav-tabs li a:hover::before,
.step-progress .product-tab-block .nav-tabs li.active a::before {
    height: 2px;
    background: #416486;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.step-progress .product-tab-block .nav-tabs li.done a {
    background: #1fb58f;
    color: #fff;
}

.step-progress .product-tab-block .nav-tabs li.done a::before {
    height: 2px;
    background: #1fb58f;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.step-progress .product-tab-block .tab-content {
    width: 100%;
    padding-left: 220px;
}

.step-progress .product-tab-block .tab-content .tab-pane {
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    padding: 30px;
    min-height: 500px;
    border-radius: 0 5px 5px 5px;
}


/***************************** end:  step css ******************************/

#steps-block {
    margin-bottom: 10px;
}

#handson-Zone-during-upload {
    display: none;
}

#handson-Zone-during-upload>.handson-table {
    width: 100%;
    overflow-y: auto;
    height: 200px;
    margin-bottom: 5px;
    overflow-x: hidden;
}