/* CSS declarations go here */

#upload-csv-zone {
    border: 2px dashed #0087F7;
    position: relative;
}

#upload-csv-zone>input[type="file"] {
    width: 100%;
    height: 200px;
    opacity: 0;
}

.dz-message {
    position: absolute;
    font-weight: 500;
    font-size: 25px;
    top: 35%;
    text-align: center;
    width: 100%;
}

.dz-message>small {
    font-size: 60%;
    color: #bbb;
}

.progress {
    margin-bottom: 0px;
}

.fileprogress {
    margin-top: 15px;
}