* { box-sizing: border-box; margin: 0; padding: 0; }
ul.mySection { margin: 16px; list-style: none; }
ul.mySection li { margin: 0px 0px; display: inline-block;}
ul.mySection input[type=radio] { display: none; }
ul.mySection label {
    display: table-cell; cursor: pointer;
    width: 200px; height: 120px;
    vertical-align: middle; text-align: center;
    background-color: #494e6b;
    color:#fff
}
ul.mySection label:hover {
    background-color: #7c7e86; color: #1fb58f; transition: all 0.25s;
}
ul.mySection input[type=radio]:checked ~ label {
    background-color:  #1fb58f;
    color: #fff;

}
input#btn { margin: 8px 18px; padding: 8px; }



.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.landing_container{
  width: 100%;
  height: 200px;
}
.left, .right {
  float: left;
}


.right {position: absolute;
    left: 14%;
    padding: 12px;
    top: 25%;
    text-align: -webkit-center;
    border: 2px #7c7e86 dashed;
  }

  #myform{
    text-align: center;
  }







  button {margin-left: 20px;}
#dv {
  height: 120px;
  margin-left: 129px;
  margin-bottom: 19px;
  width: 90px;
  width: 74%;
  margin-top: 2px;
  margin-bottom: : 20px !important;
  overflow: auto;
  border: 3px solid #7c7e86;
  color: black;
  text-align: center;
  padding-top: 4px;
}



.bulb {
    float: left;
    padding: 10px;
    width:8%;
}
input[type=text] {text-align: center;}
/*a {color: white;}*/

#display-error {
    display:none;
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    padding: 4px;
    margin-top: 9px;
}

.close{
  padding: 0px 9px !important;
}


.selected_tick1 {
  margin-left: 0px;
      position: absolute;
      display: none;
}

.selected_tick2 {
  margin-left: 0px;
      position: absolute;
      display: none;
}

.selected_tick3 {
  margin-left: 0px;
      position: absolute;
      display: none;
}

.selected_tick4 {
  margin-left: 0px;
      position: absolute;
      display: none;
}


  #landingPageStatusReport{
    border: 3px solid #7c7e86;
    color: black;
    text-align: center;
    padding-top: 4px;
    margin: 50px;
    padding-bottom: 26px;
  }

  .landingAbortBtn{
    width: 160px ;
    border: none ;
    background: #b51f1f ;
    color: #fff ;
    letter-spacing: 1px ;
    line-height: 3 ;
  }
  .landingContinuetBtn{
    width: 160px ;
    border: none ;
    background: #1fb58f ;
    color: #fff ;
    letter-spacing: 1px ;
    line-height: 3 ;
  }

  .landingBtnDiv{
    padding: 15px;
  }



  .dropzone {
      /* min-height: 150px; */
      border: 2px solid rgba(0, 0, 0, 0.3);
      background: white;
      padding: 20px 20px;
      height: 198px !important;
      overflow-y: scroll !important;
  }
